{% extends 'common/base.html' %}
{% load static %}

{% block title %}HOME{% endblock %}

{% block content %}
<h3><a href="{% url 'tweets:home' %}" type="button">Twitter Clone</a></h3>

<h1>Backend Final Assignment</h1>

<h3>@{{ request.user }}がログイン中</h3>
<h3><a href="{% url 'tweets:create' %}" type="button">ツイート</a></h3>
<h3><a href="{% url 'accounts:logout' %}" type="button">ログアウト</a></h3>

<div>
    {% for tweet in object_list %}
    <div class="tweet_box">
        <p><a href="{% url 'tweets:user_profile' tweet.author %}">{{ tweet.author }}</a></p>
        <p>{{ tweet.text }}</p>
        <p>{{ tweet.created_at }}</p>
        {% if request.user == tweet.author %}
        <p><a href="{% url 'tweets:delete' tweet.pk %}" type="button">削除</a></p>
        {% endif %}
        <p><a href="{% url 'tweets:detail' tweet.pk %}" type="button">詳細</a></p>

        {% if tweet in user_liked_list %}
        <button id="like-button-{{tweet.pk}}" class="like-unlike-button" data-tweet-pk="{{ tweet.pk }}"
            data-is-liked="true" type="submit">Unlike</button>
        {% else %}
        <button id="like-button-{{tweet.pk}}" class="like-unlike-button" data-tweet-pk="{{ tweet.pk }}"
            data-is-liked="true" type="submit">Like</button>
        {% endif %}
        <span id="likes-count-{{ tweet.pk }}" name="{{tweet.pk}}-count"></span>
    </div>
    {% endfor %}


    <script type="text/javascript">
        const getCookie = name => {
            if (document.cookie && document.cookie !== '') {
                for (const cookie of document.cookie.split(';')) {
                    const [key, value] = cookie.trim().split('=');
                    if (key === name) {
                        return decodeURIComponent(value);
                    }
                }
            }
        };

        const csrftoken = getCookie('csrftoken');

        const likeLinks = document.getElementsByClassName('like-unlike-button');
        for (const likeLink of likeLinks) {
            likeLink.addEventListener('click', async (e) => {
                let url = '';
                const element = e.currentTarget;//datasetはHTMLで指定したdata-*の属性を指す
                if (element.dataset.is_liked == 'true') {
                    url = "{% url 'tweets:unlike' 0 %}".replace("0", element.getAttribute('data-tweet-pk'));
                } else {
                    url = "{% url 'tweets:like' 0 %}".replace("0", element.getAttribute('data-tweet-pk'));
                }
                try {
                    const config = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        }
                    };
                    const response = await fetch(url, config);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();

                    const counter = document.getElementById('likes-count-' + data.tweet_pk);
                    const counter2 = document.getElementById('like-button-' + data.tweet_pk);
                    counter.textContent = data.num_liked;
                    const icon = document.getElementById('likes-count-' + data.tweet_pk);
                    if (element.dataset.is_liked == 'false') {
                        element.dataset.is_liked = 'true';
                        counter2.textContent = 'Unlike'
                    } else {
                        element.dataset.is_liked = 'false';
                        counter2.textContent = 'Like'
                    }
                } catch (e) {
                    alert(e);
                }
            });
        };
    </script>

</div>
{% endblock %}
