{% extends 'common/base.html' %}


{% block title %}HOME{% endblock %}

{% block content %}
<h3><a href="" type="button">Twitter Clone</a></h3>

<h1>Backend Final Assignment</h1>

<h3 align="center"><a href="{% url 'tweets:create' %}" type="button">ツイート</a></h3>
<h3 align="center"><a href="{% url 'accounts:logout' %}" type="button">ログアウト</a></h3>
<h3 align="center"><a href="{% url 'accounts:login' %}" type="button">ログイン</a></h3>
<h3 align="center"><a href="{% url 'accounts:signup' %}" type="button">登録</a></h3>
{% endblock %}
