{% extends 'common/base.html' %}


{% block title %}HOME{% endblock %}

{% block content %}
<h3><a href="" type="button">Twitter Clone</a></h3>

<h1>Backend Final Assignment</h1>

<h5><a href="{% url 'tweets:create' %}" type="button">ツイート</a></h3>
    <h5><a href="{% url 'accounts:logout' %}" type="button">ログアウト</a></h3>

        <div>
            {% for tweet in object_list %}
            <div>
                <h6>{{ tweet.author }}</h6>
                <h5><a href="{% url 'tweets:detail' tweet.pk %}">{{ tweet.text }}</a></h5>
                <h6>{{ tweet.created_date }}</h6>
                {% if request.user == tweet.author %}
                <h6><a href="{% url 'tweets:delete' tweet.pk %}" type="button">削除</a></h6>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {% endblock %}
