{% extends 'common/base.html' %}


{% block title %}DETAIL{% endblock %}

{% block content %}
<h3><a href="{% url 'tweets:home' %}" type="button">Twitter Clone</a></h3>

<div>
    <h2>@{{ profile.username }}</h2>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" formaction="{% url 'accounts:follow' profile.username %}">フォロー</button>
        <button type="submit" formaction="{% url 'accounts:unfollow' profile.username %}">アンフォロー</button>
    </form>
    <p><a href="{% url 'accounts:following_list' profile.username %}">フォローリスト</a></p>
    <p><a href="{% url 'accounts:follower_list' profile.username %}">フォロワーリスト</a></p>
</div>


<div>
    {% for tweet in object_list %}
    <div class="tweet_box">
        <p><a href="{% url 'tweets:user_profile' tweet.author %}">{{ tweet.author }}</a></p>
        <p>{{ tweet.text }}</p>
        <p>{{ tweet.created_at }}</p>
        {% if request.user == tweet.author %}
        <p><a href="{% url 'tweets:delete' tweet.pk %}" type="button">削除</a></p>
        {% endif %}
        <p><a href="{% url 'tweets:detail' tweet.pk %}" type="button">詳細</a></p>
    </div>
    {% endfor %}
</div>

{% endblock %}
